.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;

}

nav .logo {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

nav .download-btn {
    width: 228px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.hero {
    max-width: 1440px;
    height: 652px;
    background-image: url(./assets/Hero-bg.png);
    margin: 10px auto;

}

.hero .hero-container {
    width: 998px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.hero .hero-container .image-control {
    width: 240px;
    height: 240px;
    margin-top: 26px;
}

.hero .hero-container .image-control img {
    width: 100%;
}

.hero-container h1 {
    color: rgb(13, 19, 33);
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.hero-container p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.hero-container .hero-btn {
    padding: 21px 24px;
    border-radius: 5px;
    cursor: pointer;

    background: rgb(13, 19, 33);
    color: white;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;

}

main {
    width: 1140px;
    margin: 0px auto;
}

.Why_dev {
    width: 1140px;
    margin: 74px auto;
}

.Why_dev .inner_why_dev {
    padding: 80px 97px;
    margin: 0 auto;
}

.title_para {
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.title_para h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.title_para p {
    text-align: center;
    opacity: 0.6;
    font-size: 16px;
    margin-top: 16px;
}

.Reason-items {
    margin-top: 48px;
}

.Reason-items .Reason {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 60px auto
}

.Reason .Reason-left h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;

}

.Reason .Reason-left p {
    font-size: 16px;
    font-weight: 400px;
    margin-top: 16px;
}

.Reason_btn {
    outline: none;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    margin-top: 32px;
    cursor: pointer;
}

.MyInsp {
    margin-top: 70px;
}

.MyInsp h1 {
    text-align: center;
    color: rgb(13, 19, 33);

    font-size: 32px;
    font-weight: 800;

}

.MyInsp p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}

.MyInsp .IframeOuter {
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;

}

.MyInsp .IframeInner {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 32px auto;
}

.MyInsp .IframeInner iframe {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.myCurrentTarget {

    margin-top: 150px;
    margin-bottom: 110px;
}

.myCurrentTarget h1 {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.myCurrentTarget .subtitle {
    font-size: 16px;
    text-align: center;
    color: rgb(13, 19, 33);
    font-weight: 400;
    ;
    opacity: 0.7;
    margin-bottom: 48px;
}

.cards {
    display: flex;
    gap: 30px;
}

.cards .card {
    width: 364px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.card:nth-child(2) {
    background: rgba(0, 76, 232, 0.05);
}

.card:nth-child(3) {
    background: rgba(255, 223, 0, 0.05);
}

.card .title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;

}

.card .description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 24px;
}

.card a {
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

.Support_section {
    width: 1140px;
    height: 340px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url('./assets/handshake.jpg');
    margin-bottom: 80px;
    background-position: center;
    background-size: cover;

}

.Support_section .items {
    display: flex;
    flex-direction: column;
    padding: 64px 48px;
    align-items: center;
}

.Support_section .items h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;

}

.Support_section .items p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: 12px;


}

.form {
    margin-top: 24px;
}

.form form input[type='text'] {
    width: 548px;
    height: 57px;
    padding: 0px 10px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
    outline: none;
}

.form form input[type='submit'] {
    width: 120px;
    border-radius: 8px;
    color: rgb(13, 19, 33);

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    outline: none;
    padding: 17px 20px 17px 20px;
    border: none;
    cursor: pointer;
}

footer {
    width: 1440px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer h3 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}