.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin:40px 0px;

}

nav .logo {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

nav .download-btn {
    width: 228px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: white;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
}
.hero{
    max-width: 1440px;
    height: 652px;
    background-image: url(./assets/Hero-bg.png);
    margin:10px auto;

}
.hero .hero-container{
 width: 998px;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:30px auto;
}
.hero .hero-container .image-control{
    width: 240px;
    height: 240px;
    margin-top: 26px;
}
.hero .hero-container .image-control img{
    width: 100%;
}
.hero-container h1{
color: rgb(13, 19, 33);
font-size: 44px;
font-weight: 800;
text-align: center;
margin-bottom: 24px;
}
.hero-container p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}
.hero-container .hero-btn{
    padding: 21px 24px;
    border-radius: 5px;

background: rgb(13, 19, 33);
color: white;
font-size: 16px;
font-weight: 600;
outline: none;
border: none;

}

